<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swipeacademy.multiplicationtableswipe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayActivity"
            android:label="play"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/history"
            android:parentActivityName=".HomeActivity"/>

        <provider
            android:name=".data.TableProvider"
            android:authorities="com.swipeacademy.multiplicationtableswipe"
            android:exported="false" />

        <activity android:name=".PracticeActivity"
            android:label="practice"
            android:parentActivityName=".HomeActivity"/>
        <!--Widget-->
        <receiver android:name=".WidgetProvider"
            android:label="Recent Play Results">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.android.sunshine.app.ACTION_RECENT_RESULTS_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <service android:name=".WidgetIntentService" />
    </application>


</manifest>